.home-btn {
  position: relative;
  right: 135px;
  margin: 20px;
  height: 40px;
  width: 70px;
  background-color: #c5d86d;
  color: #261c15;
  border: none;
  border-radius: 15px;
  font-family:  'Bad Script', cursive;
  font-weight: bold;
  font-size: 18px;
}
.home-btn:hover {
  background-color: #f05d23;
  transition-duration: 0.1s;
}

.container a {
  color: #491602ff;
  font-family: 'Lora', serif;
  font-size:20px;
}
.container a:visited {
  color: #491602ff;
  text-decoration: none;
}
.container a:hover {
  background-color: #491602ff;
  color:#f7f7f2;
  transition-duration: .1s;
}
.container a:link {
  text-decoration: none;
}
.container {
  position: relative;
  max-width: 500px;
  margin: 70px;
  padding: 20px;
  background-color: #f7f7f2;
  color: #261c15;
  border-radius: 25px;
}
.new-btn {
  height: 50px;
  width: 125px;
  background-color:#f05d23 ;
  color: #261c15;
  border: none;
  border-radius: 15px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 22px;
  margin-top: 25px;
}
.new-btn:hover {
  background-color: #c5d86d;
  transition-duration: .1s;
  
}
@media screen and (min-width: 500px) {
  .home-btn {
    position: relative;
    right: 150px;
    margin: 30px auto;
  }
  .container {
    position: relative;
    max-width: 500px;
    margin: 70px 90px;
  }
}
@media screen and (min-width: 600px) {
  .home-btn {
    position: relative;
    right: 250px;
    margin: 30px ;
  }
}
@media screen and (min-width: 700px) {
  .home-btn {
    position: relative;
    right: 275px;
  }
  .container {
    max-width: 500px;
    margin: 100px 150px ;
  }
}
@media screen and (min-width: 1000px) {
  .home-btn {
    position: relative;
    right: 400px;
  }
  .container {
    max-width: 500px;
    margin: 100px auto; 
  }
}