.dropzone {
  height: 100px;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #f05d23;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  cursor: pointer;
}

.active {
  background-color: #f05d23;
  opacity: .5;
}


