.home {
  position: fixed;
  max-width: 250px;
  margin: 75px;
  padding: 20px;
  background-color: #f7f7f2;
  color:#261c15; 
  /* border: 5px double #505232; */
  border-radius: 25px;
} 
h1 {
  font-family: 'Bad Script', cursive;
  margin:auto;
  font-size: 40px;
}
.intro {
  font-family: 'Lora', serif;
  font-size: 18px;
  padding-bottom: 10px;
}
.garden-btn {
  height: 50px;
  width: 125px;
  background-color:#f05d23 ;
  color: #261c15;
  border: none;
  border-radius: 15px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  font-size: 22px;
}

