.homebtn {
  position: relative;
  right: 75px;
  margin: 20px;
  height: 40px;
  width: 70px;
  background-color: #c5d86d;
  color: #261c15;
  border: none;
  border-radius: 15px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  font-size: 18px;
}
.homebtn:hover {
  background-color: #f05d23;
  transition-duration: 0.1s;
}
.backbtn {
  position: relative;
  left: 65px;
  margin: 20px;
  height: 40px;
  width: 70px;
  background-color: #c5d86d;
  color: #261c15;
  border: none;
  border-radius: 15px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  font-size: 18px;
}
.backbtn:hover {
  background-color: #f05d23;
  transition-duration: 0.1s;
}
.data {
  max-width: 300px;
  margin: 20px auto;
  padding: 15px;
  color: #261c15;
  border-radius: 25px;
}
.title {
  color: #f7f7f2;
}
.form {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: center;
}
.addbtn {
  height: 50px;
  width: 125px;
  background-color: #f05d23;
  color: #261c15;
  border: none;
  border-radius: 15px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}
.form :focus {
  background-color: #c5d86d;
}
.input {
  height: 25px;
  width: 150px;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid #261c15;
  background-color: #e4e6c3;
  padding: 5px;
  outline: none;
}

.textarea {
  height: 150px;
  width: 200px;
  background-color: #e4e6c3;
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 15px;
}
@media screen and (min-width: 470px) {
  .homebtn {
    right: 125px;
  }
  .backbtn {
    left: 125px;
  }
  .data {
    max-width: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 600px) {
  .homebtn {
    right: 150px;
  }
  .backbtn {
    left: 150px;
  }
}
@media screen and (min-width: 700px) {
  .homebtn {
    right: 250px;
  }
  .backbtn {
    left: 250px;
  }
  .data {
    max-width: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 800px) {
  .homebtn {
    right: 275px;
  }
  .backbtn {
    left: 275px;
  }
  .data {
    max-width: 500px;
    margin: auto; 
  }
}
@media screen and (min-width: 900px) {
  .homebtn {
    right: 300px;
  }
  .backbtn {
    left: 300px;
  }
  .data {
    max-width: 500px;
    margin: auto; 
  }
}