
.plant-details {
  position: relative;
  max-width: 500px;
  margin: 20px 60px 20px 50px;
  padding: 20px;
  
  background-color: #e4e6c3;
  color: #261c15;
  border-radius: 25px;
}
p {
  font-family: "Lora", serif;
  font-size: 17px;
  padding: auto;
}
.labels {
  font-family: "Lora", serif;
  font-weight: bold;
  font-size: 20px;
}
.image {
  height: 100px;
  width: 100px;
}
.deletebtn {
  height: 50px;
  width: 125px;
  background-color: #f05d23;
  color: #261c15;
  border: none;
  border-radius: 15px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}
.deletebtn:hover {
  background-color: #c5d86d;
  transition-duration: 0.1s;
}

@media screen and (min-width: 500px) {
  .home-btn {
    right: 400px;
    margin: 30px auto;
  }
  .plant-details {
    max-width: 300px;
    margin: auto;
  }
  .image {
    height: 150px;
    width: 175px;
  }
}
@media screen and (min-width: 600px) {
  .home-btn {
    right: 250px;
    margin: 30px ;
  }
}
@media screen and (min-width: 800px) {
  .home-btn {
    right: 275px;
  }
  .plant-details {
    max-width: 500px;
    margin: auto;
  }
  .image {
    height: 200px;
    width: 225px;
  }
}
@media screen and (min-width: 900px) {
  .home-btn {
    right: 400px;
  }
}
